<p>
    [% IF lang == "fr" %]
        <a href="http://www.international.gc.ca/international/index.aspx?lang=fra&view=d" target="_blank">Tous droits réservés © Affaires étrangères, Commerce et Développement</a><br />
        <a href="http://www.canadiana.org/fr/accueil" target="_blank">Réalisé par Canadiana.org</a>
    [% ELSE %]
        <a href="http://www.international.gc.ca/international/index.aspx?view=d" target="_blank">All content copyright © Foreign Affairs, Trade and Development</a><br />
        <a href="http://www.canadiana.org/en/home" target="_blank">Produced by Canadiana.org</a>
    [% END %]
</p>
