<h2>[% c.loc("Not Found ([_1])", status) %]</h2>

<p>[% c.loc("The page you are looking for cannot be found.") %]

[% IF error_message %]
<p>[% c.loc("The following information was reported by the server: [_1]", error_message) %]</p>
[% END %]
