<footer class="mt-auto bg-dark text-white text-center">
  <p class="my-3">
    <a href="[% c.loc("URL_PARL") %]">[% c.loc("L_PARL_CONTENT") %]</a><br />
    <a href="[% c.loc("URL_PARL_NOTICES") %]">[% c.loc("L_PARL_NOTICES") %]</a><br />
    <a href="[% c.loc("URL_CRKN") %]">[% c.loc("L_CRKN_PRODUCED") %]</a>
  </p>
</footer>