<div class="container"><div class="row">
<p class="span8 offset2">
    [% IF lang == "fr" %]
        <a href="https://bdp.parl.ca/" target="_blank">Contenu fourni par la Bibliothèque du Parlement</a><br />
        <a href="https://www.crkn-rcdr.ca/fr" target="_blank">Réalisé par le RCDR</a>
    [% ELSE %]
        <a href="https://lop.parl.ca/" target="_blank">Content provided by the Library of Parliament</a><br />
        <a href="https://www.crkn-rcdr.ca/" target="_blank">Produced by CRKN</a>
    [% END %]
</p>
<p class="span2">
    <a href="[% c.uri_for("/important-notices") %]">[% c.loc("Important notices") %]</a>
</p>
</div></div>