[%- BLOCK html_select -%]
  <select name="[% name %]">
  [% FOREACH opt IN options %]
    <option value="[% opt.value %]"[% IF opt.value == selected %] selected="selected"[% END %]>[% opt.label %]</option>
  [% END %]
  </select>
[%- END -%]

