[% title = c.loc("Welcome") -%]

<div class="row">
    <div class="span6 blurb">
[% INCLUDE "content/index_text_${lang}.tt" | indent(8) -%]
        <div class="logo"></div>
    </div>
    <div class="span6 search">
[% INCLUDE partial/search_form.tt | indent(8) %]
        <div class="bg-left"></div>
        <div class="bg-right"></div>
    </div>
</div>
[% INCLUDE partial/collection_list.tt %]
<div class="clearfix"></div>

[% INCLUDE partial/slideshow.tt shadow=1 %]