[% 
  # component/page.tt
  #
  #   Show an inline page image
  #
  # Identifier prefix: pg
  # Modified: 2010-04-16

  USE XML.Escape;
%]

[% IF doc.canonicalMaster %]
  <div id="pg">
    <img src="[% c.uri_for(root, 'get', doc.key, "image.png" ) %]">
  </div>
[% ELSIF doc.type == 'monograph' %]
  <a href="[% c.uri_for(root, 'show', pages.first.key) %]">[% c.loc("Click here if your browser does not automatically redirect you") %]</a>
[% END %]

