[% title = c.loc("Welcome") -%]

<h1>[% c.portal_title %]</h1>
<div class="row">
    <div class="span4">
        <img class="logo" src="/static/images/logo_square_[% lang %].png" alt="[% c.loc("Canadiana logo") %]" />
    </div>
    <div class="span8">
[% INCLUDE partial/search_form.tt | indent(8) %]
    </div>
</div>
[% content_blocks.blurb %]
