[%
  # Generate a label for item
%]

[% IF item.doc.type == 'page' %]
  [% IF item.ancestors.1.type == 'serial' %]
    [% item.ancestors.1.label | xml_escape %] :
  [% END %]
  [% item.ancestors.0.label | xml_escape %],
[% ELSIF item.doc.type == 'issue' %]
  [% IF item.ancestors.0.type == 'serial' %]
    [% item.ancestors.0.label | xml_escape %] : 
  [% END %]
[% END %]
[% item.doc.label | xml_escape %]
