[%
  # Map media codes to English names.
%]
[% SWITCH code %]
  [% CASE 'data' %][% c.loc('computer data') | xml_escape %]
  [% CASE 'image' %][% c.loc('image') | xml_escape %]
  [% CASE 'plaintext' %][% c.loc('plain text') | xml_escape %]
  [% CASE 'sound' %][% c.loc('sound recording') | xml_escape %]
  [% CASE 'text' %][% c.loc('digitized text') | xml_escape %]
  [% CASE 'video' %][% c.loc('video') | xml_escape %]
  [% CASE %][% code | xml_escape %]
[% END %]

