header h1 {
  margin-bottom: 0;
}
@media (min-width: 768px) {
  .search-bar {
    width: 317px;
  }
}
@media (min-width: 980px) {
  .search-bar {
    width: 461px;
  }
}
@media (min-width: 1200px) {
  .search-bar {
    width: 611px;
  }
}
.search-button {
  margin-top: 5px;
}
.collapse-pane-header {
  position: relative;
}
.collapse-pane-header .caret {
  display: block;
  position: absolute;
  top: 5px;
  right: 10px;
}
.collapse-pane-content {
  position: relative;
}
.collapse-pane-content .close {
  position: absolute;
  top: 9px;
  right: 0px;
}
.footer-top {
  border-top: 4px solid #363636;
}
.footer-banner {
  display: none;
}
#pvToolbar {
  padding-bottom: 0;
}
.btn-group {
  vertical-align: 13px;
}
#wrapper {
  z-index: 1;
  position: static;
}
#wrapper .bg {
  display: none;
}
