[%-
  # DFAIT Statements and speeches bibliographic record.
  #
  # This is a stub that suppresses the normal bib record display, as there
  # isn't any meaningful bibliographic information apart from the title
  # for this collection.
-%]
