@import "../cap.less";

// taken from http://fonts.googleapis.com/css?family=Raleway:400,700
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/yQiAaD56cjx1AooMTSghGfY6323mHUZFJMgTvxaG2iE.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: local('Raleway'), local('Raleway-Regular'), url(http://fonts.gstatic.com/s/raleway/v11/0dTEPzkLWceF7z0koJaX1A.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin-ext */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v11/WmVKXVcOuffP_qmCpFuyzSEAvth_LlrfE80CYdSH47w.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(http://fonts.gstatic.com/s/raleway/v11/JbtMzqLaYbbbCL9X6EvaI_k_vArhqVIZ0nv9q090hN8.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

@footerHeight: 205px;
@narrowFooterHeight: 385px;

@mainColor: #610618;
@lightColor: #ddd;
@bgColor: #fff;

@linkColor: @mainColor;
@linkColorHover: lighten(@mainColor, 10%);

@baseFontFamily: Raleway, Helvetica, Arial, sans-serif;

header.navbar {
    margin-bottom: @baseLineHeight;
    background-color: @mainColor;
    color: darken(@lightColor, 10%);

    .navbar-inner {
        background-color: inherit;
        background-image: none;
    }

    .logo {
        display: block;
        float: left;
        margin: 10px;
        height: 60px;
        width: 294px;
        background-image: url(/static/images/co_logo.png);
    }

    h1 {
        float: left;
        color: @lightColor;
        font-variant: small-caps;
        font-family: serif;
        font-size: 36pt;
        padding-top: @baseLineHeight / 2;
        .lighten-links;
        a:hover {
            text-decoration: none;
        }
    }

    .nav > li {
        .lighten-links;
    }
}

h2 {
    color: @mainColor;
    font-variant: small-caps;
    text-rendering: auto;
}

.search-item h2 {
    font-variant: normal;
}

.whf-search-bar {
    font-size: @baseFontSize + 2px;
    font-weight: bold;
    padding: 9px 4px;
    .border-radius(5px);
    line-height: normal;
}

@media (min-width: 768px) {
    .blurb, .search {
        min-height: 250px;
    }
}

/* Push footer */

footer {
    ul {
        li {
            list-style-type: none;
        }
    }

    .title {
        font-size: @baseFontSize + 5px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .footer-top {
        background-color: white;
        padding-top: @baseLineHeight / 2;
        .box-shadow(0 -10px 10px 2px #ddd);
    }

    .footer-bottom {
        #gradient > .vertical(#444, #222);
        color: @lightColor;
        p {
            margin-bottom: 0;
            line-height: @baseLineHeight * 2;
        }
    }
}

@media (min-width: 768px) {
    footer .footer-top {
        height: 160px;
    }
}
