@import "../cap.less";

@footerHeight: 136px;
@narrowFooterHeight: 225px;

@mainColor: #951931;
@secondColor: #5ca8b6;
@lightColor: #ddd;
@bgColor: #fff;

@linkColor: @secondColor;
@linkColorHover: darken(@secondColor, 10%);

@baseFontFamily: Raleway, Helvetica, Arial, sans-serif;

header.navbar {
    margin-bottom: 0;
    background-color: @mainColor;
    color: darken(@lightColor, 10%);

    .navbar-inner {
        background-color: inherit;
        background-image: none;
    }

    .logo {
        display: block;
        float: left;
        margin: 10px;
        height: 60px;
        width: 294px;
        background-image: url(/static/images/co_logo.png);
    }

    h1 {
        float: left;
        color: @lightColor;
        font-variant: small-caps;
        font-family: serif;
        font-size: 36pt;
        padding-top: @baseLineHeight / 2;
        .lighten-links;
        a:hover {
            text-decoration: none;
        }
    }

    .nav > li {
        .lighten-links;
    }
}

.navLinks.navbar {
    margin-bottom: @baseLineHeight;
    .nav > li {
        .lighten-links;
    }
}

.index {
    > * {
        margin-bottom: @baseLineHeight;
    }

    .hero {
        background-color: @mainColor;
        h2 {
            margin: 0 10%;
            background-color: rgba(255, 255, 255, 0.8);
            padding: 9px 2%;
            text-align: center;
        }
    }

    .linkBlock {
        max-width: 370px;
        display: block;
        &:hover {
            text-decoration: none;
        }
        > .title {
            background-color: @mainColor;
            color: white;
            line-height: @baseLineHeight * 1.5;
            padding-left: @baseLineHeight / 2;
        }
        > .illustration {
            background-position: 50% 0%;
        }
    }

    .linkList {
        list-style-type: none;
        margin: 0 0 @baseLineHeight 0;
        > li {
            max-width: 370px;
            margin-bottom: @baseLineHeight / 2;
            line-height: @baseLineHeight * 4;
            text-align: right;
            font-weight: bold;
            background-position: 50% 0%;
            > a {
                display: block;
                &:hover {
                    text-decoration: none;
                }
                > span {
                    padding: 4px 5px;
                }
            }
        }
    }

    .moreLinkWrapper {
        text-align: right;
        > .moreLink {
            padding: 4px 5px;
            .border-radius(2px);
            background-color: @grayDark;
            color: white;
            font-weight: bold;
            &:hover {
                color: white;
            }
            &::after {
                content: " »";
            }
        }
    }
}

@media (min-width: 768px) {
    .index .hero {
        background-image: url('http://cdn.canadiana.ca/co/hero-background.jpg');
        background-position: center;
        h2 {
            margin: 36px 10%;
        }
    }
}

/* Push footer */

footer {
    ul {
        li {
            list-style-type: none;
        }
    }

    .title {
        font-size: @baseFontSize + 5px;
        font-weight: bold;
        margin-top: 5px;
        margin-bottom: 5px;
    }

    .footer-top {
        background-color: white;
        padding-top: @baseLineHeight / 2;
        min-height: 91px;
        .box-shadow(0 -10px 10px 2px #ddd);
    }

    .footer-bottom {
        #gradient > .vertical(#444, #222);
        color: @lightColor;
        p {
            margin-bottom: 0;
            line-height: @baseLineHeight * 2;
        }
    }
}
