@import "../cap.less";

@mainColor: #951931;
@secondColor: #5ca8b6;
@lightColor: #ddd;
@bgColor: #fff;

@linkColor: @secondColor;
@linkColorHover: darken(@secondColor, 10%);

@baseFontFamily: Raleway, Helvetica, Arial, sans-serif;

header.navbar {
    margin-bottom: @baseLineHeight;
    background-color: @mainColor;
    color: darken(@lightColor, 10%);

    .navbar-inner {
        background-color: inherit;
        background-image: none;
    }

    .logo {
        display: block;
        float: left;
        margin: 10px;
        height: 60px;
        width: 294px;
    }

    h1 {
        float: left;
        color: @lightColor;
        font-variant: small-caps;
        font-family: serif;
        font-size: 36pt;
        padding-top: @baseLineHeight / 2;
        .lighten-links;
        a:hover {
            text-decoration: none;
        }
    }

    .nav > li {
        .lighten-links;
    }
}

.index {
    > * {
        margin-bottom: @baseLineHeight;
    }

    .search {
        form {
            margin: (@baseLineHeight * 2) auto;
        }
        .searchInput {
            margin: 0;
            padding: 9px 14px;
            font-size: 15px;
            line-height: normal;
            width: ~"calc(100% - 30px)";
            border-radius: 5px 5px 0 0;
        }
        .searchSubmit {
            .btn();
            .btn-large();
            .btn-primary();
            width: 50%;
            border-radius: 0 0 0 5px;
        }
        .searchHelp {
            .btn();
            .btn-large();
            width: ~"calc(50% - 30px)";
            border-radius: 0 0 5px 0;
        }
    }

    .linkBlock {
        max-width: 370px;
        display: block;
        &:hover {
            text-decoration: none;
        }
        > .title {
            background-color: @mainColor;
            color: white;
            line-height: @baseLineHeight * 1.5;
            padding-left: @baseLineHeight / 2;
            padding-right: @baseLineHeight / 2;
        }
        > .illustration {
            background-position: 50% 0%;
        }
    }
}

@media (min-width: 768px) {
    .index .search {
        background-image: url('http://cdn.canadiana.ca/co/hero-background.jpg');
        background-position: center;
        form {
            width: 80%;
        }
        .searchInput {
            width: ~"calc(60% - 30px)";
            border-radius: 5px 0 0 5px;
        }
        .searchSubmit {
            width: 20%;
            border-radius: 0;
        }
        .searchHelp {
            width: ~"calc(20% - 30px)";
            border-radius: 0 5px 5px 0;
        }
    }

    .linkBlock.right {
        float: right !important;
    }
}

@media (min-width: 980px) {
    .index .search {
        .searchInput {
            width: ~"calc(70% - 30px)";
        }
        .searchSubmit {
            width: 15%;
        }
        .searchHelp {
            width: ~"calc(15% - 30px)";
        }
    }
}