Dear [% recipient_name %],

Thank you for your recent subscription to Early Canadiana Online. Attached
is an official receipt for income tax purposes. If you have any questions,
please send them to: info@canadiana.ca.



Cher / Chère [% recipient_name %],

Merci pour votre abonnement récent à Notre mémoire en ligne. Vous
trouverez ci-joint un reçu officiel pour fins d'impôts. Si vous avez des
questions, veuillez nous contacter à info@canadiana.ca.
