Dear [% recipient_name %],

We regret to inform you that your ECO subscription has expired
as you have not confirmed it in the allotted time frame.


Cher / Chère [% recipient_name %],

Merci pour votre abonnement récent à Notre mémoire en ligne. Vous
trouverez ci-joint un reçu officiel pour fins d'impôts. Si vous avez des
questions, veuillez nous contacter à info@canadiana.ca.
