<div class="banner">
    <a href="[% c.uri_for_action("/index") %]" style="display: block">
        <div class="banner-left-bg"></div>
        <div class="banner-right-bg"></div>
        <div class="banner-image-absolute">
            <div class="container">
                <img src="/static/images/heritage_logo.png" alt="Héritage" />
            </div>
        </div>
    </a>
</div>