[%-
  # search.tt - search results template

  USE XML.Escape;
-%]


<div id="border_container">
    <div id="header_pane"></div>

    <div id="tree_pane"><div id="facet_tree"></div></div>
    <div id="results_pane"><h3>Search results go here</h3></div>
    <div id="footer_pane"></div>


</div>
