
[%- # Related resources -%]
[%- INCLUDE 'include/links.tt' -%]

<p>
  <a href="[% uri | xml_escape %]">[% c.loc("Go to this page") | xml_escape %]</a>
</p>

<iframe class="site_frame" scrolling="auto" src="[% uri | xml_escape %]">
  <a href="[% uri | xml_escape %]">[% uri | xml_escape %]</a>
</iframe>
