[% MACRO format_boolean(bool) INCLUDE macro/format_boolean.tt -%]
[% title = c.loc("Discount Codes") %]
<h2>[% c.loc("Users") %]</h2>

<p>
    <a href="[% c.uri_for_action("admin/index") %]">[% c.loc("Admin Menu") %]</a> |
    <a href="[% c.uri_for_action("admin/discount/create") %]">[% c.loc("New discount code") %]</a>
</p>


<ul>
[% FOREACH item IN discounts %]
    <li><a href="[% c.uri_for_action('/admin/discount/edit', item.id) %]">[% item.code %]</item>
[% END %]
</ul>

