<div class="support">

[% IF lang == 'fr' %]
<h2>API de Canadiana non disponible</h2>
<p>En raison des changements exigés par la migration de la plate-forme, l'interface de programmation applicative (API) n'est plus disponible pour les collections hébergées sur des portails de Canadiana. Vous pouvez toujours utiliser l'API fournie par le Portail de recherche de Canadiana (<a href="http://search.canadiana.ca">http://search.canadiana.ca</a>). Pour plus d'informations, contactez <a href="mailto:info@canadiana.ca">info@canadiana.ca</a>.</p>
[% ELSE %]
<h2>Canadiana API Unavailable</h2>
<p>Due to changes required by platform migration, this API is no longer available for collections hosted on Canadiana portals. You can still use the API provided by the Canadiana Discovery Portal (<a href="http://search.canadiana.ca">http://search.canadiana.ca</a>). For more information, contact <a href="mailto:info@canadiana.ca">info@canadiana.ca</a>.</p>
[% END %]


</div>
