<div class="form-group[% IF class %] [% class %][% END %]">
  <label for="fieldSelect">[% c.loc("L_FIELD_SELECT") %]</label>
  <select id="fieldSelect" class="custom-select" name="field">
    <option value="">[% c.loc("L_FIELD_SELECT_EVERYTHING") %]</option>
    <option value="ti"[% IF field == "ti" %] selected[% END %]>[% c.loc("L_FIELD_SELECT_TITLE") %]</option>
    <option value="su"[% IF field == "su" %] selected[% END %]>[% c.loc("L_FIELD_SELECT_SUBJECT") %]</option>
    <option value="tx"[% IF field == "tx" %] selected[% END %]>[% c.loc("L_FIELD_SELECT_TEXT") %]</option>
  </select>
</div>