<h2>Bienvenue à la Voix étudiante!</h2>
<p>La Voix étudiante est le fruit d’une initiative de l’Association des bibliothèques de recherche du Canada (ABRC). Il s’agit d’un portail en ligne donnant accès aux collections historiques croissantes des médias étudiants des établissements postsecondaires tirées des fonds des bibliothèques membres de l’ABRC et des organismes étudiants de tout le pays.</p>
<p>Explorez le portail pour découvrir les médias étudiants postsecondaires de 1945 à 2000. Cette période a été sélectionnée pour sa richesse en fait d’expression de sa population étudiante, depuis l’enthousiasme et la prospérité de l’après-guerre, jusqu’à l’agitation et l’activisme croissants qui ont façonné le système d’éducation et les campus canadiens.</p>
<p>Ce projet de numérisation sert à établir un répertoire centralisé pour ce matériel fragile par l’intermédiaire de Canadiana.org. À présent, le portail donne accès aux journaux étudiants de quatre sites pilotes. En définitive, nous espérons encourager un plus grand nombre d’établissements et d’organismes étudiants canadiens à préserver numériquement, à réunir et à rendre accessibles ces collections cachées.</p>
<p>Le projet a été rendu possible par un financement du gouvernement du Canada fourni par l’intermédiaire du Programme pour les collectivités du patrimoine documentaire de Bibliothèque et Archives Canada.</p>
<p>Pour de plus amples renseignements sur le portail ou pour fournir des médias étudiants postsecondaires au portail, veuillez communiquer avec l’ABRC à l’adresse <a href="mailto:sve.info@carl-abrc.ca">sve.info@carl-abrc.ca</a>.</p>
