[% USE XML.Escape; %]


[% # No JavaScript block %]
      <p>
      <form method="get" action="[% c.uri_for(root, 'search') %]">
              [% search_query('media') %]

              <button type="submit">[% c.loc("Show All Media") %]</button>
      </form>
    </p>
