[% USE XML.Escape; %]

[% # Dojo dropdown menu button %]
             <script type="text/javascript">any_language = 1;</script>
[% # No JavaScript block %]
    <noscript>
      <p>
      <form method="get" action="[% c.uri_for(root, 'search') %]">
              [% search_query('lang') %]
              <button type="submit">[% c.loc("Show All Languages") %]</button>
      </form>
        
      </p>
    </noscript>
