[% IF response.doc.canonicalUri.match('\.jpg$') %]
  <div>
    <p>[% c.loc("From a collection held by [_1]", label.contributor.${response.doc.contributor}) | xml_escape %]</p>
    <p>
      [% c.loc("Download image:") | xml_escape %]
      <a href="[% response.doc.canonicalUri | xml_escape %]">[% response.doc.canonicalUri | xml_escape %]</a>
    </p>
    <img src="[% response.doc.canonicalUri | xml_escape %]"/>
  </div>
[% END %]
