[% 
  # component/page.tt
  #
  #   Show an inline page image
  #
  # Identifier prefix: pg
  # Modified: 2010-04-16

  USE XML.Escape;
%]

[% IF resource_master.size %]
  <div id="pg">
    <img src="[% c.uri_for(root, 'get', "${doc.key}.png") | xml_escape %]" alt="[% "${doc.key}.png" | xml_escape %]"/>
  </div>
[% END %]

