[% 
  # component/title.tt
  #
  #   Display the main page label/title
  #
  # Identifier prefix: ti
  # Modified: 2010-04-16

  USE XML.Escape;
%]
<div id="ti">
  [% IF config.tt.portal %]
    <img
      src="[% c.uri_for(root, 'static', 'logos', "${doc.contributor}.jpg") | xml_escape %]"
      alt="[% c.loc(c.config.contributor.${doc.contributor}) | xml_escape %]"
    />
  [% END %]
  [% c.loc(doc.label) | xml_escape %]
</div>
