$primary: #1d808b;
$font-family-sans-serif: "Roboto", sans-serif;

@import "../firstParty.scss";

#headerTitle {
  max-width: 360px;
}

.home-card-badge {
  margin-left: 0.5em;
}

.province-card {
  /*height: 10em;*/
}

.ca-front-card {
  height: 20em;
  object-fit: cover;
}

.ca-province-card {
  object-fit: cover;
}

.browse-province-button {
 margin-bottom: 0.5em !important;
}
