<div class="access">
[% IF c.auth.institution_sub %]
    <div><strong>[% c.loc("Welcome, [_1]", c.institution.alias(c.stash.lang)) %]</strong></div>
[% ELSE %]
    <div>
        <a href="/subscribe">
            <strong>[% c.loc("Subscribe to [_1]", c.portal.title(c.stash.lang)) %]</strong>
        </a>
    </div>
[% END %]
</div>
