<li>
  <a class="sm-icon facebook" href="https://www.facebook.com/CRKNRCDR/">
    <span class="sr-only">Facebook</span>
  </a>
  <a class="sm-icon bluesky" href="https://bsky.app/profile/crkn-rcdr.bsky.social">
    <span class="sr-only">bluesky</span>
  </a>
  <a class="sm-icon linkedin" href="https://www.linkedin.com/mwlite/company/canadian-research-knowledge-network">
    <span class="sr-only">LinkedIn</span>
  </a>
</li>