# cap.conf file for CAP version 0.6
# Modified on 2010-08-19
# This is the standard configuration file for CAP. In order to use it, you
# will need to replace all of the <PATH> placeholders with the appropriate
# directory paths for your environment. Additional customizations may also
# be made to tailor operation to your particular environment.

#
#  General Catalyst Configuration 
#

name CAP

default_view Default

# Set to true to enable additional debugging information (useful for
# development)
debug false

# Set to true to see additional debug information relating to
# authorization.
debug_auth false

# Database connection info
<Component Model::DB>
    schema_class CAP::Schema
    <connect_info>
        dsn dbi:mysql:cap
        user cap
        password ""
    </connect_info>
</Component>

#
# Application-Specific Configuration
#

default_portal co

version 0.6

# These path names must be absolute or else relative to the application 'root'.

# Path to the content repository (TIFF images, PDFs, etc.)
content <PATH>

# Where we can find the NetPBM programs
netpbm_path <PATH>

# Default parameters. These should all be set to sensible values, or the
# application may behave strangely.
<defaults>
    image_size =  600 # default width (in pixels) for derivative images
    image_min  =   50 # minimum size allowed for derivative images
    image_max  = 1200 # maximum size allowed for derivative images
</defaults>

<solr>

  select_uri <PATH>
  update_uri <PATH>

  <defaults>
    version   2.2
    rows      10
    start     0
    score     score desc
    wt        json
  </defaults>

  # Fields to return for various search types
  <fl>
    ancestors key
    ancestors type
    ancestors label
    ancestors pkey
    ancestors gkey

    search key
    search type
    search contributor
    search label
    search pkey
    search gkey
    search seq
    search lang
    search media
    search canonicalUri
  </fl>

  # Field aliases mapping internal search field names to one or more Solr
  # field names.
  <fields>
    tx tx    # global text field
    tx tx_en # English text
    tx tx_fr # French text
    ti ti    # global title field
    ti ti_en # etc.
    ti ti_fr
    au au
    au au_en
    au au_fr
    su su
    su su_en
    su su_fr
    no no
    no no_en
    no no_fr
    kw kw
    kw kw_en
    kw kw_fr
    q  kw
    q  kw_en
    q  kw_fr
  </fields>

</solr>

# Controls whether an action can be accessed at all, whether it is public,
# and if not, what role(s) are allowed to access the action.

<action "/auth/login">
  enabled false
  public true
</action>

<action "/auth/logout">
  enabled false
  public true
</action>

<action "/file/file">
  enabled true
  public true
</action>

<action "/file/get">
  enabled true
  public true
</action>

<action "/page">
  enabled true
  public true
</action>

<action "/post">
  enabled true
  public true
</action>

<action "/index">
  enabled true
  public true
</action>

<action "/search/search">
  enabled true
  public true
</action>

<action "/show/index">
  enabled true
  public true
</action>

<action "/static">
  enabled true
  public true
</action>

<action "/test_error">
  enabled true
  public true
</action>

# List of valid contributor namespaces with the name of the contributor.
# (To be replaced)
<contributor>
  sfu    Simon Fraser University
  oocihm Canadiana.org
  ooe    Department of Foreign Affairs and International Trade
  oonl   Library and Archives Canada
  otu    University of Toronto
  qmbn   Bibliothèque et Archives Nationales du Québec
</contributor>

# Automatically prefix an application and interface to all requests
# using the specified URL. The trailing slash must be included.
<prefix>
  # Example:
  # http://www.myserver.com/ = myapp/en
  # Requests for http://www.myserver.com/foo will be processed as myap/en/foo, not foo
</prefix>

