# Use this file to make any local configuration changes. Config parameters
# placed here will override those in cap.conf

# Example: set a new default portal
# default_portal myportal

# Example: use a password with the MySQL database user
#<Component Model::DB>
#    schema_class = CAP::Schema
#    <connect_info>
#        dsn      = dbi:mysql:cap
#        user     = cap
#        password = "supersecret"
#    </connect_info>
#</Component>
