# Use this file to make any local configuration changes. Config parameters
# placed here will override those in cap.conf

<services>
    <mail>
        host = smtp.c7a.ca
        from = CAP <noreply@c7a.ca>
    </mail>
    <cosearch>
        endpoint = http://beemster.office.c7a.ca:8983/solr/cosearch
    </cosearch>
    <copresentation>
        endpoint = http://beemster.office.c7a.ca:5984/copresentation
    </copresentation>
    <iiif_image>
        endpoint      = http://image.swiss.canadiana.ca/iiif/2
        key           = CAP
        password      = password
        cookie_domain = image.swiss.canadiana.ca
    </iiif_image>
    <iiif_presentation>
        endpoint = http://presentation.demo.canadiana.ca/iiif
    </iiif_presentation>
    <file_access>
        endpoint = http://file.swiss.canadiana.ca
        key      = CAP
        password = password
    </file_access>
    <cap_caches>
        endpoint = http://beemster.office.c7a.ca:5984/cap_caches
    </cap_caches>
    <cms>
        endpoint = http://beemster.office.c7a.ca:5984/cms
    </cms>
    <usage_stats>
        endpoint = http://beemster.office.c7a.ca:5984/cap_usage_stats
    </usage_stats>
    <usage_logfile_registry>
        endpoint = http://beemster.office.c7a.ca:5984/cap_logfile_registry
    </usage_logfile_registry>
    <tdrepo>
        endpoint = http://beemster.office.c7a.ca:5984/tdrepo
    </tdrepo>
    <internalmeta>
        endpoint = http://beemster.office.c7a.ca:5984/internalmeta
    </internalmeta>
    <wipmeta>
        endpoint = http://beemster.office.c7a.ca:5984/wipmeta
    </wipmeta>
    <mallet>
        endpoint = http://beemster.office.c7a.ca:5984/mallet
    </mallet>
    <tdrmeta>
        endpoint = http://beemster.office.c7a.ca:5984/tdrmeta
    </tdrmeta>
    <filemeta>
        endpoint = http://beemster.office.c7a.ca:5984/filemeta
    </filemeta>
</services>

<payment paypal>
    username  = seller_1298561993_biz_api1.canadiana.ca
    password  = password
    signature = some_long_hash
    sandbox   = 1
</payment>

<Component Plugin::Session>
    cookie_domain   = dev.c7a.ca
</Component>

<Component Plugin::Static::Simple>
    dirs = [ static ]
    include_path = [ __path_to(root)__ ]
</Component>

# Configure the secure server name and protocol
<secure>
    host = secure.dev.c7a.ca
    protocol = https
</secure>

<mailinglist>
    status_report = [ sascha@c7a.ca, russell@c7a.ca ]
</mailinglist>
