<table class="table">
    <thead>
        <tr>
            <th>[% c.loc("Reel ID") %]</th>
        </tr>
    </thead>
    <tbody>
        [% FOREACH issue_key IN series.record.order %]
        [% issue = series.record.items.$issue_key %]
        <tr>
            <td><a href="[% c.uri_for_action("view/index", issue_key) %]">[% issue.label %]</a></td>
        </tr>
        [% END %]
    </tbody>
</table>
