<h2>the Historical Publications of the Parliament of Canada</h2>
<p>The Library of Parliament, in collaboration with <a href="http://www.canadiana.ca/en/home" target="_blank">Canadiana.org</a>, is pleased to provide access to the <i>Historical Publications of the Parliament of Canada</i>, a free searchable database of digitised versions of the debates and journals of the Senate and the House of Commons.</p>
<p>The <i>Historical Publications of the Parliament of Canada</i> includes all debates and journals from Parliament 1, Session 1 (1867) until coverage on <a href="http://parl.gc.ca/" target="_blank">parl.gc.ca</a> begins.*</p>
<p>For more information about the scope of this portal and how to use it, please see the <a href="[% c.uri_for_action("/support", "about") %]">About / Help</a> page.</p>
<hr />
<p>* Debates and journals for the Senate of Canada are available from the parliamentary website as of February 27, 1996. Debates and journals for
the House of Commons are available from the parliamentary website as of January 17, 1994. To access debates and journals from
these dates and later, please visit <a href="http://parl.gc.ca/" target="_blank">parl.gc.ca</a>, under <a href="http://www.parl.gc.ca/ParlBusiness.aspx?Language=E" target="_blank">Parliamentary Business.</a></p>