<h2>Publications historiques du Parlement du Canada</h2>
<p>La Bibliothèque du Parlement, en collaboration avec <a href="http://www.canadiana.ca/accueil" target="_blank">Canadiana.org</a>, est heureuse de vous offrir l’accès aux <i>Débats historiques du Parlement du Canada</i>, une base de données interrogeable et gratuite contenant les versions numérisées des Débats du Sénat et de la Chambre des communes.</p>
<p>Le portail des <i>Débats historiques du Parlement du Canada</i> contient tous les débats commençant avec la 1re législature, 1re session, jusqu’au début de leur diffusion sur <a href="http://parl.gc.ca/" target="_blank">parl.gc.ca</a>*</p>
<p>Pour de plus amples renseignements concernant le contenu de ce portail ainsi que son utilisation, veuillez consulter notre page <a href="[% c.uri_for_action("/support", "about") %]">À propos / Aide</a>.</p>
<hr />
<p>* Les Débats du Sénat du Canada sont disponibles sur le site Web du Parlement depuis le 27 février 1996. Les Débats de la Chambre des communes sont disponibles sur le site Web du Parlement depuis le 17 janvier 1994. Pour accéder aux délibérations après ces dates, veuillez consulter la section des <a href="http://www.parl.gc.ca/ParlBusiness.aspx?Language=F" target="_blank">Travaux parlementaires</a> sur le site <a href="http://parl.gc.ca/" target="_blank">parl.gc.ca</a>.</p>
