[% title = c.loc("Welcome") -%]

<div class="row">
    <div class="span4">
    	<p>I am the first block</p>
    </div>
    <div class="span4">
    	<p>I am the second block</p>
    </div>
    <div class="span4">
    	<p>I am the third block</p>
    </div>
</div>

