/* Global site-wide CSS file for CAP.
Essentially all page styles should go in here if possible.
Do not create new styles or classes unless absolutely necessary */
  
  
/* default document styles */

body {
    width: 100%;
    height: 100%;
    margin: 0;
    border: 0;
    padding: 0;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
}

h1 {
    display: block;
    position: relative;
    margin: 0;
    margin-top: 1em;
    margin-bottom: 0.5em;
    border: 0;
    padding: 0;
    clear: both;
    font-size: 16pt;
    font-weight: normal;
}

h2 {
    font-size: 15pt;
    font-weight: normal;
}

h3 {
    font-size: 14pt;
    font-weight: normal;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Form styles */
select, input, button, textarea {
	font:99% arial,helvetica,clean,sans-serif;
}

/* Header, footer, splash page styles */

#container {
	position: static;
	top:0px;
	bottom:0px;
	width: 100%;
}

#topNav {
	float:right;
	padding:0px 0px 0 0;
	margin:10px 20px 0 0;
	text-align:right;
	font-size:10px;
	font-weight:bold;
	color:#937d6a;
}


#header {
	position: static;
	top: 0px;
	bottom:147px;
	width:100%;
	background-image:url(../images/bkgHeaderStretch.png);
	background-repeat:repeat-x;
	background-position:top left;
}
#headerContent {
	 background-image:url(../images/bkgHeader.png);
	 background-repeat:no-repeat;
	 background-position:top right;
	 height:147px;	
     /* border: 1px solid #000077; */
}
#headerContent #logo {
	background-repeat:no-repeat;
	background-position:20px 10px;
	height:85px;
	width:703px;
	float:left;
	z-index:1000;
}


#header #headerContent #search {
	position:absolute;
	top:95px;
	height:40px;
	width:100%;
	margin:0px 16px 0px 0;
	padding: 10px 0 0 0px;
	float:right;
}
#header #headerContent #search input.searchBox {
	position:absolute;
	top: 12px;
	right: 100px;
	width: 260px;
	height:21px;
	margin:0px 10px 0px 30px;
	border: 1px solid #971232;
	float:right;
}
#header #headerContent #search input.searchBtn {
	position:absolute;
	top: 12px;
	right: 15px;
	margin:0px 0px 0px 0px;
}
#header #headerContent #searchOptions {
	position:absolute;
	top: 0px;
	right: 370px;
	width:400px;
	z-index:2000;
	font-size:12px;
	font-weight:bold;
	color:#937d6a;
	margin:3px 0 0 0;
	text-align:center;
}
#header #headerContent #searchOptions a {
	text-decoration:none;
	color:#937d6a;
}
#header #headerContent #searchOptions a:hover {
	text-decoration:underline;
	color:#971232;
}
 #ddownAdvancedSearch,  #ddownContributors {
	position:absolute;
	text-align:left;
	background-color:white;
	border: 1px solid #971232;
	padding:10px 0 0px 10px;
	font-size:13px;
	color:#4d280b;
	z-index:1000;
}
 #ddownAdvancedSearch {
	position:absolute;
	right: 214px;
	margin:0 0px 0 0px;
	width:210px;	
}
 #ddownContributors {
	position:absolute;
	left: 185px;
	margin:0px 0px 0 0px;
	padding-left:0px;
	width:290px;	
}
 #ddownAdvancedSearch a,  #ddownContributors a {
	text-decoration:none;
	color:#4d280b;
}
 #ddownAdvancedSearch a:hover,  #ddownContributors a:hover {
	text-decoration:underline;
	color:#971232;
}
 #ddownAdvancedSearch li,  #ddownContributors li {
	list-style:none;
	padding:0px 0px 0px 0px;
	margin:0px 0px 5px 0px;
}
 #ddownAdvancedSearch ul,  #ddownContributors ul {
	margin-top:-10px;
}
 
 #ddownContributors ul {
	margin-top:0px;
	padding-left: 10px;
	padding-right: 10px;
}

 #ddownAdvancedSearch input.radio {
	padding:0px 0px 0px 0px;
	margin:0px 3px 0px 0px;
	vertical-align:middle;
}

#content {
	position: static;
	margin-left: auto;
	margin-right: auto;
	top:148px;
	width: 96%;
	vertical-align: top;
}

#footer {
	position:static;
	width:100%;
	z-index:1;
	padding-top: 10px;
	padding-bottom: 10px;
}

#footer p {
	text-align:center;
	font-size:10px;
	margin:10px 0 0 0;
	color:#937d6a;
}

#footer a { 
    color:#937d6a;
}

/*
 * Simple stylesheet for the DFAIT portal prototype
 */


.lchooser {
    display: block;
    position: relative;
    clear: both;
    text-align: center;
    padding-top: 4em;
    padding-bottom: 4em;
    margin-left: 35%;
    margin-right: 35%;
}

.lchooser div {
    display: block;
    position: relative;
    width: 49%;
    font-size: 14pt;
    float: left;
    text-align: center;
}


div.user {
    float: right;
    clear: right;
    color: #fff;
}

.nav {
    display: block;
    position: relative;
    float: right;
    clear: left;
    text-align: right;
    width: 100%;
    border: 0;
    margin: 0;
}

.nav li {
    display: block;
    float: right;
    background: #844;
    color: #fff;
    margin-right: 4px;
    padding: 2px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    border-left: 1px solid #000;
    font-size: 11pt;
}

.nav li:hover {
    background: #8aa;
}

.nav a {
    text-decoration: none;
    color: #fff;
}

.nav a:hover { color: #fff }

.nav a:visited { color: #fff }

.vdiv {
    display: block;
    position: relative;
    float: left;
    width: 2em;
    text-align: center;
}

.sf {
    display: block;
    position: relative;
    float: left;
    height: 100%;
    margin-right: 2em;
}

.sf form {
    border: 1px solid #8aa;
    background: #acc;
    padding: 0.5ex;
    margin-bottom: 1em;
}

.sf h3 {
}

.sf button {
   display: block;
   float: right
}

.content table {
    margin-left: 1em;
}

.content th {
    text-align: left;
}

.content td {
    padding-right: 1em;
    padding-top: 0.5ex;
}

.pp {
    display: block;
    position: relative;
    clear: both;
    float: left;
}

.pp .thumb {
    display: block;
    position: relative;
    float: left;
    width: 100px;
    margin: 10px;
    text-align: left;
}

.thumbnail {
    margin-top: 8px;
}

.pp .page {
    display: block;
    position: relative;
    float: left;
}

.page img {
    border: 2px solid #000;
}

#ui_page_loading {
    position: absolute;
    left: 200px;
    top: 50px;
    border: none;
    visibility: hidden;
}

#rc {
    border: 1px solid #ccc;
}

#rc table ul li {
    list-style-type: none;

}

.toolbar {
    display: block;
    position: relative;
    clear: both;
    background: #8aa;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2px;
}

.toolbar ul {
    margin: 0;
    padding: 0;
}

.toolbar li {
    display: inline;
    background: #acc;
    margin-right: 1em;
    padding-right: 3px;
    padding-left: 3px;
}

.toolbar form {
    display: inline;
}

.toolbar a:link { color: #00f }
.toolbar a:visited { color: #00f }

.error {
    color: #f00;
}

.widget {
    border: 0;
    vertical-align: middle;
}

/*
 * main.css - main stylesheet
 * Version: 0.20100218
 * 
 * This is the first stylesheet to be applied, followed by override.css
 * and then any action-specific style sheets.
 */


/*

 * Page Layout classes, most of this is already done above with styles
 
*/
    .user {
        display: block;
        position: relative;
        float: right;
        margin: 0;
        margin-right: 0.5em;
        border: 0;
        padding: 0;
    }
        .user li {
            display: block;
            float: left;
            margin: 0;
            margin-left: 1em;
            border: 0;
            padding: 0;
        }

        .user a { color: #fff; }
        .user a:visited { color: #fff; }

        li.username {
            color: #fff;
            background: #844;
            padding-left: 0.5em;
            padding-right: 0.5em;
        }

.content {
    display: block;
    position: relative;
    clear: both;
    width: 98%;
    margin: auto;
    border-top: 1px solid #ccc;
}

.debug {
    display: block;
    position: relative;
    clear: both;
    width: 600px;
    height: 100px;
    overflow: auto;
    margin: 0;
    margin-top: 1em;
    margin-left: 1em;
    border: 1px solid #000;
    padding: 1em;
    background: #ddd;
    visibility: hidden;
}


/*
 * Page Components
 */

.bibrec {
    border: 1px solid #ccc;
    padding: 0.5em;
}

.bibrec td { vertical-align: top; }
.bibrec ul { margin: 0; padding: 0; list-style-type: none; }
.bibrec ul li { margin-bottom: 0.25em; }

#bibrecord td { padding-top: 0.5em; }
#bibrecord td.label {
    vertical-align: top;
    border-right: 0px solid #888;
    background: #e8e2da;
}
#bibrecord td div {
    margin-bottom: 0.5em;
}

.search {
    display: block;
    position: relative;
    margin-top: 2em;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    margin-bottom: 1em;
}

.search_result p {
    margin: 0;
    margin-left: 2em;
    padding: 0;
    line-height: 1.4em;
}

.search_result td {
    padding-top: 1.5em;
    vertical-align: top;
    border: 0px solid #ccc;
}

.search_result p.label {
    font-weight: bold;
    margin-left: 0;
}

.search_terms {
    width: 30em;
}

.search_options_expand {
    padding-left: 14px;
    background-image: url("../widgets/expand.png");
    background-repeat: no-repeat;
    color: #00f;
}

.search_options {
    padding-left: 14px;
}

.inline_radio {
    margin-left: 1em;
}

.site_frame {
    width: 98%;
    height: 500px;
}

.navigator {
    display: block;
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 1em;
    background: #ddd;
    text-align: center;
}

.navigator .left {
    position: relative;
    float: left;
    clear: left;
    width: 25%;
    text-align: left;
}

.navigator .right {
    position: relative;
    float: right;
    clear: right;
    width: 25%;
    text-align: right;
}

.navigator form {
    display: inline;
}

.navigator form div {
    display: inline;
}


.nav_links {
    display: block;
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    margin-top: 0.5em;
    margin-bottom: 1em;
    padding: 0;
}

.nav_links li {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    margin-right: 1em;
    border-bottom: 2px solid #ccc;
    border-right: 2px solid #ccc;
    padding: 2px;
}


.view_item {
    display: block;
    position: relative;
    float: left;
    clear: both;
    width: 100%;
    margin: 0;
    margin-top: 2em;
    margin-bottom: 2em;
    border: 0;
    padding: 0;
    text-align: center;
}

.view_item img {
    vertical-align: middle;
    padding-right: 2em;
}

/*
 * Other Styles
 */

.link a img { border: none; }

.hidden {
    visibility: hidden;
}

.nodisplay {
    display: none;
}

.bold {
    font-weight: bold;
}

/*
 * cx - context
 */

#cx {
    display: block;
    position: relative;
    clear: both;
    margin-top: 1em;
    margin-bottom: 2em;
}

#cx ul {
    position: relative;
    display: block;
    clear: both;
    margin: 0;
    padding: 0;
}

#cx li {
    display: block;
    position: relative;
    float: left;
    margin: 0;
    margin-right: 0.5em;
    border: 0;
    border-left: 1px solid #ddd;
    padding: 0;
    padding-left: 0.5em;
}


/*
 * ti - title
 */

#ti {
    display: block;
    position: relative;
    clear: both;
    margin: 0;
    margin-top: 2.5em;
    border: 0;
    padding: 0;
    font-size: 14pt;
}

#ti img {
    vertical-align: middle;
    margin-right: 1em;
}
/* admin.css
 */

dd {
    margin-bottom: 0.5em;
}


#rlist .record {
    margin-top: 1em;
}

#rlist .record h3 {
    margin: 0;
    padding: 0;
    font-size: 110%;
}

#rlist .record p {
    margin: 0;
    margin-left: 1em;
    padding: 0;
    padding-top: 0.25em;
    line-height: 130%;
}

.keywords {
    color: #971131;
    font-weight: 600;
}

.filter {
    color: #009900;
    font-weight: 600;
}

.result_number {
    color: #333230;
    font-weight: 600;
}

.sp {
    background-color: #e8e2da;
    padding: 0px 5px 0px 5px;
}

.noscript_daterange {
     width: 100%;
     border: 0px solid #ff0000;
     height: 30px;
     margin-top: -20px;
     margin-bottom: 20px;
     padding-top: 0px;
     vertical-align: top;    
}

.noscript_daterange p {
    font-family: arial,helvetica;
    font-weight: 600;
    color: #5c574d;    
}

#refine_toolbar_container {
    width: 40%;
    border: 0px solid #ff0000;
    top: 0px;
    margin-top: 0px;

}

#newsearch_toolbar_container {
    top: 0px; 
    width: 60%;
    border: 0px solid #0000ff;
    float: right;
    margin-top: -21px;
}

#newsearch_toolbar {
    padding-right: 20px;
    text-align: right;

}

#newsearch_separator {
    margin-right: 50px;
}

#newsearch_input {
    margin-right: 5px;
    width: 260px;
    color: #444444;
    border: 1px solid #aaaaaa;
}

#newsearch_submit {
    margin-right: 5px;
    width: 100px;
    color: #000000;
    border: 0px solid #aaaaaa;
}