.i18n_hidden {
    display: none;
}

.i18n_dialog {
    position: absolute;
    top: 30px;
    left: 30px;
    width: 80%;
    height: 40%;
    border: 2px solid #000;
    background: #fff;
    padding: 4px;
    visibility: hidden;
}

.i18n_messages {
    border-collapse: collapse;
}

.i18n_messages td {
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    border-right: 1px solid #ccc;
    padding: 4px;
}

.i18n_messages td.left {
    border-right: 0;
    border-left: 1px solid #888;
    background: #aaa;
}

#i18n_edit {
    width: 80%;
    z-index: 100;
    background: #ddd;
    display: block;
    position: absolute;
    visibility: hidden;
    left: 20px;
    border: 2px solid #444;
    padding: 4px;
}

#i18n_edit textarea {
    width: 30em;
    height: 5em;
    font-family: helvetica, sans-serif;
    font-size: 10pt;
}
