
#containerSplash {
    background-image:url(../images/bkgHeight.gif);
    background-repeat:repeat;
    min-height:100%;
	position:absolute;
    bottom: 0px;
	width: 100%;
}
#containerSplash #fullWidth {
    background-image:url(../images/bkgWidth.gif);
    background-repeat:repeat-x;
}
#containerSplash #content {
    margin: 0px auto;
    padding: 0px;
    padding-bottom:30px;   /* Height of the footer */
    width: 900px;
    height:521px;
    background-image:url(../images/bkg.gif);
    background-repeat:no-repeat;
}
#containerSplash #topNav {
    float:right;
    padding:0px 0px 0 0;
    margin:10px 20px 0 0;
    text-align:right;
    font-size:10px;
    font-weight:bold;
    color:#937d6a;
}
#containerSplash #logo {
    margin:40px 0 20px 287px;
    padding: 0px;
}
#containerSplash #search {
    width:515px;
    height:51px;
    margin:0 auto;
    padding: 0px;
    background-image:url(../images/bkgSearch.png);
    background-repeat:no-repeat;
}
#containerSplash #search input.searchBox {
    width: 360px;
    height:21px;
    margin:13px 10px 0px 30px;
    border: 1px solid #971232;
}
#containerSplash #search input.searchBtn {
    margin:0px 0px -7px 0;
}
#containerSplash #searchOptions {
    font-size:12px;
    font-weight:bold;
    color:#937d6a;
    width:515px;
    margin:0 auto;
    margin-top:20px;
    text-align:center;
}
#containerSplash #searchOptions a {
    text-decoration:none;
    color:#4d280b;
}
#containerSplash #searchOptions a:hover {
    text-decoration:underline;
    color:#971232;
}
#containerSplash #searchOptions #ddownAdvancedSearch, #containerSplash #searchOptions #ddownContributors {
    text-align:left;
    background-color:white;
    border: 1px solid #971232;
    padding:10px 0 0px 10px;
    width:210px;
    font-size:13px;
    color:#4d280b;
    z-index:1000;
}
#containerSplash #searchOptions #ddownAdvancedSearch {
    position: absolute;
    right:53%;
	float:left;
    margin:0 0 0 10px;
}
#containerSplash #searchOptions #ddownContributors {
    position: absolute;
    left:50%;
    margin:0 39px 0 0px;
}
#containerSplash #searchOptions #ddownAdvancedSearch a, #containerSplash #searchOptions #ddownContributors a {
    text-decoration:none;
    color:#4d280b;
}
#containerSplash #searchOptions #ddownAdvancedSearch a:hover, #containerSplash #searchOptions #ddownContributors a:hover {
    text-decoration:underline;
    color:#971232;
}
#containerSplash #searchOptions #ddownAdvancedSearch li, #containerSplash #searchOptions #ddownContributors li {
    list-style:none;
    padding:0px 0px 0px 0px;
    margin:0px 0px 5px 0px;
}
#containerSplash #searchOptions #ddownAdvancedSearch ul, #containerSplash #searchOptions #ddownContributors ul {
    margin-top:-10px;
}
#containerSplash #searchOptions #ddownContributors ul {
    margin-top:0px;
}

#containerSplash #searchOptions #ddownAdvancedSearch input.radio {
    padding:0px 0px 0px 0px;
    margin:0px 3px 0px 0px;
    vertical-align:middle;
}
#footer {
    position:absolute;
    bottom:0px;
    width:100%;
    height:30px;
    background-color:white;
    z-index:1;
}
#footer p {
    text-align:center;
    font-size:10px;
    margin:10px 0 0 0;
    color:#937d6a;
}
