[% IF resultset.documents.size -%]
    [% c.loc("Matching pages:") %]
	[% FOR page IN resultset.documents -%]
	<a class="matching-page" data-seq="[% page.seq %]" href="[% c.uri_for_action("view/key_seq", c.req.params.pkey, page.seq).path %]">[% page.label | html %]</a>[% UNLESS loop.last %] | [% END %]
	[% END %]
[% ELSE -%]
    [% c.loc("No matching pages found.") %]
[% END -%]
