[% title = c.loc("Welcome") -%]

<div class="row">
    <div class="span6 blurb">
    [% INCLUDE "blocks/${c.stash.lang}/blurb.html" %]
    </div>
    <div class="span6 search">
[% INCLUDE partial/search_form.tt | indent(8) %]
    </div>
</div>