<div class="container-lg">
  <div class="row justify-content-center">
    <div class="col-lg-8 mt-3">
    <h2>[% c.portal_title %]</h2>
[% INCLUDE partial/search_form.tt | indent(6) %]
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-lg-12">
[% INCLUDE "blocks/${c.stash.lang}/blurb.html" | indent(6) %]
    </div>
  </div>
</div>