<div class="h-100 d-flex flex-column">
  <div class="container my-auto">
    <div class="row justify-content-center">
      <div class="col-lg-8 mt-3">
        <h2>[% c.portal_title %]</h2>
[% INCLUDE partial/search_form.tt | indent(8) %]
      </div>
    </div>
    <div class="row mt-4">
      <div class="col-lg-12">
[% INCLUDE "blocks/${c.stash.lang}/blurb.html" | indent(8) %]
      </div>
    </div>
  </div>
</div>