<response ok="[% ok %]">
  <contributor>[% contributor %]</contributor>
  <log>
  [% FOREACH event IN event_log -%]
    <event class="[% event.0 %]">[% event.1 %]</event>
  [% END -%]
  </log>
  <process>
  [% FOREACH object IN objects -%]
    <object>[% object %]</object>
  [% END -%]
  </process>
</response>

