<h2>Welcome to the DFATD Digital Library</h2>
<p>The Jules Léger Library is pleased to announce that, in cooperation with Canadiana.org, the full text of over one million pages of departmental publications have been digitized and are housed in a searchable research database. These publications are an important part of the rich departmental legacy and include material such as the <i>Communiqués</i> (1948-1995), <i>Canadian Representation Abroad</i>, <i>CanadExport</i> and other important works, in both official languages where possible. This digitization effort is vital, both for preserving the heritage of DFATD and for providing Canadians with enduring digital access to that heritage. It is also a central element in our ongoing work to improve Library services. For more information on the digitized collection please contact the Library Reference Desk at 613-992-6150 or by email at <a href="mailto:library-biblio.aiml@international.gc.ca">library-biblio.aiml@international.gc.ca</a>.</p>
