<h1>[% c.loc("Canadiana Access Portal Administration") %]</h1>

<p><a href="[% c.uri_for(root, 'user') %]">[% c.loc("User management") %]</a></p>

<p><a href="[% c.uri_for(root, 'content') %]">[% c.loc("Content management") %]</a></p>


