[% c.stash.description = "These collections contain over 80,000 rare books, magazines and government publications from the 1600s to the 1940s." %]

<h2>About Early Canadiana Online</h2>
<p class="emphasized">These collections contain over 80,000 rare books, magazines and government publications from the 1600s to the 1940s.</p>
<p>This rare collection of documentary heritage will be of interest to scholars, genealogists, history buffs and anyone who enjoys reading about Canada's early days.</p>
<p>The Early Canadiana Online collection of rare books, magazines and government publications has over 80,000 titles (3,500,000 pages) and is growing. The collection includes material published from the time of the first European settlers to the first four decades of the 20th Century.</p>
<p>You will find books written in 21 languages including French, English, 10 First Nations languages and several European languages, Latin and Greek.</p> 
