[% c.stash.description = "Ces collections contiennent plus de 80,000 livres rares, revues et publications gouvernementales datant des années 1600 jusqu'aux années 1940." %]

<h2>À propos de Notre mémoire en ligne</h2>
<p class="emphasized">Cette bibliothèque virtuelle offre la collection la plus complète de contenu plein texte sur l’histoire du Canada, y compris des livres, des périodiques et des documents officiels.</p>
<p>Notre mémoire en ligne est utilisé par des universitaires pour faire progresser nos connaissances sur le Canada dans un large éventail de domaines, par des enseignants pour faire découvrir les sources primaires en classe, et par des généalogistes et des amateurs d’histoire pour comprendre l’histoire du Canada à ses débuts.</p>
<p>Nous déployons des efforts incessants pour rassembler le patrimoine documentaire du Canada dans sa globalité en y ajoutant du nouveau contenu chaque année. Cette documentation comprend des imprimés datant de l’époque des premiers colons européens jusqu’au milieu du XXe siècle.</p>
<p>Notre contenu se présente en 21 langues, dont le français, l’anglais, le latin, le grec, et plusieurs langues des Premières Nations.</p>
