[% c.stash.description = "This virtual library holds the most complete set of full-text historical content about Canada, including books, magazines and government documents." %]

<h2>About Early Canadiana Online</h2>
<p class="emphasized">This virtual library holds the most complete set of full-text historical content about Canada, including books, magazines and government documents.</p>
<p>Early Canadiana Online is used by scholars to advance our knowledge of Canada in a wide variety of fields, by educators to bring primary sources into the classroom, and by genealogists and history buffs to discover Canada’s early days.</p>
<p>We take painstaking efforts to capture the full span of Canada's documentary record, adding new content every year. This includes material published from the time of the first European settlers to the first half of the 20th century. </p>
<p>Our content spans 21 languages, including French, English, Latin, Greek, and many First Nations languages.</p> 
