.dfait_header_right {
    position: absolute;
    top:0px;
    right:0px;
    border: 1px solid #000000;
    background: #979797;
    height: 116px;
    z-index: 2;
    width: 50%;
}

.dfait_header {
    position: static;
    text-align: left;
    height: 116px;
    width: 100%;
    background-repeat: repeat-x;
    z-index: 100;
    border: 0px solid #ff0000;
}

.dfait_header_container {
     position: static;
     width: 100%;
     height: 140px;    
}

.nav li {
    background: #888;
}

li.username {
    background: #666;
    font-style: italic;
}





#dfait_logo {
    z-index: 200;
    position: static;
    
}

.topbar {
    position: static;
    background:   #000000;
    height: 20px;
    width: 100%; 
}

.navbox {
    position: relative;
    width: 180px;
    color: #ffffff;
    text-align: center;
    float: left
}

.navbox a:visited, .navbox a:link, .navbox a:hover {
    color: #ffffff;
    font-family: Verdana, Geneva, sans-serif;
    font-weight: 600;
    text-decoration: none;    
}

.navbox_separator {
    position: relative;
    float: left;
    background: #ffffff;
    width: 2px;
    height: 20px;
}
.newsearch_bar {
    position: static;
    background:   #ffffff;
    height: 30px;
    width: 760px; 
    border: 0px solid #aaaaaa;
    padding-left: 20px;
}

.dfait_searchBox {
	position: static;
	vertical-align: top;
	margin:0px 0px 0px 20px;
	height: 21px;
	width: 360px;
	border: 1px solid #971232;
	float:left;
}

/* Index page styles */

.index_container {
    position: static;
    background-color: #e9e3dc;
    width: 100%;
    height: 100%;
    border: 2px solid #000000;
}

.index_top {
    position: static;
    width: 100%;
    height: 200px;
    text-align: right;
        
}

.dfait_banner {
    width: 100%;
    text-align: center;
}

.index_search_form {
    width: 100%;
    text-align: center;
}


.index_browse_button {
     width: 100%;
     text-align: center;
}