@import "../bootstrap/less/bootstrap.less";
@import "../bootstrap/less/responsive.less";

body {
  background-color: @bgColor;
}

header {
  margin-bottom: @baseLineHeight;
}

.navbar {
  margin-bottom: 0;
}

.navbar-inner {
  .border-radius(0);
}

@navbarBrandColor: @grayLighter;

.banner {
  position: relative;
  margin-bottom: @baseLineHeight / 2;
  .banner-image {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
  }
  .banner-left-bg {
    position: absolute;
    width: 50%;
    top: 0;
    left: 0;
  }
  .banner-right-bg {
    position: absolute;
    width: 50%;
    top: 0;
    right: 0;
  }
  .banner-image-absolute {
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
  }
}

/* /index */

/* collapse-pane */
.collapse-pane {
  border: 1px @grayLighter solid;
  .border-radius(5px);
}

.collapse-pane-header {
  cursor: pointer;
  padding: 5px 10px;
  .border-radius(5px);
  .buttonBackground(lighten(@mainColor, 10%), @mainColor);
  color: @lightColor;
  &:hover {
    color: @lightColor;
    background-position: 0 -15px;
    .transition(background-position 0.1s linear);
    text-decoration: none;
  }

  .caret {
    float: right;
    margin-top: 8px;
    border-top-color: @white;
    .opacity(75);
  }
}

.collapse-pane-content {
  margin: 0;
  > * {
    margin: (@baseLineHeight / 2) 10px;
  }
  ul {
    margin: 0;
    > li {
      list-style-type: none;
    }
  }
}

/* updates */
.updateList {
  list-style-type: none;
  margin: 0;
  > li {
    margin: 0 0 (@baseLineHeight / 2) 0;
  }
}

/* search page */
.refine-search {
  margin-top: @baseLineHeight / 2;
}

.search-item h2 {
  font-size: @baseFontSize + 8px;
  line-height: @baseLineHeight + 4px;
  margin-bottom: @baseLineHeight / 2;
  font-weight: normal;
}

.plus-minus {
  display: inline-block;
  .ie7-inline-block();
  width: 20px;
}

.search-item .plus-minus {
  margin-left: 10px;
}

/* page viewer */
#pvToolbar {
  .buttonBackground(lighten(@mainColor, 10%), @mainColor);
  margin: 0;
  padding: 9px 5px 6px 5px;
  select {
    vertical-align: @baseLineHeight / 2;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 0;
    .input-small();
  }
  .pv-counter {
    vertical-align: middle;
    padding-right: 5px;
    color: @lightColor;
    .hidden();
  }
}

@media (min-width: 768px) {
  #pvToolbar {
    select {
      .input-medium();
    }
    .pv-counter {
      display: inline;
      visibility: visible;
    }
  }
}

#pvPane {
  border-left: 1px solid @grayLighter;
  border-right: 1px solid @grayLighter;
  border-bottom: 1px solid @grayLighter;
  position: relative;
  h3,
  p {
    padding: 0 9px;
  }
  .loading {
    position: absolute;
    top: 10px;
    left: 90px;
    .buttonBackground(lighten(@mainColor, 10%), @mainColor);
    .border-radius(5px);
    color: @lightColor;
    padding: @baseLineHeight / 2;
  }
}

#pvImageInner {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  background-color: #eee;
}

#pvImg {
  max-width: none;
  display: block;
  margin: 0 auto;
}

.pv-imagelink {
  position: absolute;
  width: 80px;
  top: 0px;
  height: 100%;
  display: block;
  background-color: fade(@gray, 50%);
  color: @lightColor;
  &:hover {
    color: @lightColor;
    text-decoration: none;
  }
  font-size: @baseFontSize * 3;
  .pv-imagelink-text {
    position: absolute;
    top: 50%;
    display: block;
    margin: 0 auto;
  }
}

.pv-imagelink-left {
  left: 0px;
  .pv-imagelink-text {
    left: 30px;
  }
}

.pv-imagelink-right {
  right: 0px;
  .pv-imagelink-text {
    right: 30px;
  }
}

.pvbutton {
  padding-bottom: 0;
}

.pvicon {
  height: 18px;
  width: 18px;
  display: inline-block;
  background-image: url("/static/images/pvIcons.png");
}

.pvicon-first {
  background-position: 0px 0px;
}
.pvicon-previous {
  background-position: -24px 0px;
}
.pvicon-next {
  background-position: -48px 0px;
}
.pvicon-last {
  background-position: -72px 0px;
}
.pvicon-rotate-left {
  background-position: -96px 0px;
}
.pvicon-rotate-right {
  background-position: -120px 0px;
}
.pvicon-smaller {
  background-position: -144px 0px;
}
.pvicon-bigger {
  background-position: -168px 0px;
}
.pvicon-download {
  background-position: -192px 0px;
}
.pvicon-tag {
  background-position: -216px 0px;
}

// pv tags
@media (min-width: 768px) {
  .right-med {
    .pull-right();
  }
}

#pvComponent {
  position: absolute;
  top: 0px;
  right: -1px;
  max-height: 210px;
  padding-bottom: 9px;
  overflow-y: scroll;
  width: 372px;
  background-color: rgba(255, 255, 255, 0.95);
  border: 2px solid @mainColor;
  .tags {
    margin-bottom: 0;
    li {
      display: inline-block;
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

#pvComponentNav {
  list-style: none;
  margin: 0;
}

#pvComponentPrevious {
  float: left;
  margin: 9px 20px 0 5px;
}

#pvComponentNext {
  float: right;
  margin: 9px 5px 0 20px;
}

#pvComponentContainer,
#pvComponentLoading {
  padding-top: 9px;
  clear: both;
}

/* push footer */
/* now with generic Canadiana styles */
@footerHeight: 118px + 36px;

html,
body {
  height: 100%;
}

#push {
  clear: both;
}

footer {
  clear: both;
  margin-top: @baseLineHeight;

  ul {
    li {
      list-style-type: none;
    }
  }

  .title {
    font-size: @baseFontSize + 5px;
    font-weight: bold;
    margin-top: 5px;
    margin-bottom: 5px;
  }

  .footer-top {
    background-color: white;
    padding-top: @baseLineHeight / 2;
    .box-shadow(0 -10px 10px 2px #ddd);
  }

  .footer-bottom {
    #gradient > .vertical(#444, #222);
    color: @lightColor;
    p {
      margin-bottom: 0;
      line-height: @baseLineHeight * 2;
      a {
        color: @lightColor;
        text-decoration: underline;
        &:hover {
          color: darken(@lightColor, 10%);
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin-bottom: -1 * (@footerHeight + @baseLineHeight);
  }

  #push {
    height: @footerHeight + @baseLineHeight;
  }

  footer {
    height: @footerHeight;
  }
}

/* RANDOM STUFF */
@altbgColor: darken(@bgColor, 5%);

@btnPrimaryBackground: @linkColorHover;
@btnPrimaryBackgroundHighlight: @linkColor;

.form-actions,
.well {
  background-color: @altbgColor;
}

a {
  cursor: pointer;
}

#imageCache {
  position: absolute;
  top: -9999px;
  height: 1px;
  overflow: hidden;
}

@grayLighter: #ddd;

@media (max-width: 767px) {
  body {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (min-width: 768px) {
  .text-centered {
    text-align: center;
  }

  .text-right-aligned {
    text-align: right;
  }
}

.form-align {
  vertical-align: middle;
}

.form-inline .divider {
  vertical-align: middle;
  height: @baseLineHeight + 10px;
  width: 1px;
  background-color: #e5e5e5;
  overflow: hidden;
  margin: 0 (@baseLineHeight / 2);
  display: inline-block;
  .ie7-inline-block();
}

.form-inline label {
  vertical-align: middle;
  margin: 0;
}

.padded {
  padding-top: @baseLineHeight / 2;
  padding-bottom: @baseLineHeight / 2;
}

.emphasized {
  font-size: @baseFontSize + 2px;
  font-weight: bold;
}

.lighten-links () {
  > a {
    color: @lightColor;
    &:hover {
      color: lighten(@lightColor, 10%);
    }
  }
}

.lighten-links-all () {
  a {
    color: @lightColor;
    &:hover {
      color: lighten(@lightColor, 10%);
    }
  }
}

input.placeholder,
textarea.placeholder {
  color: @grayLight;
}

#keywordSearch {
  margin-bottom: @baseLineHeight / 2;
}

.loader {
  vertical-align: top;
}

ul.browse {
  padding: 0 0 0 25px;
  margin: 0 0 (@baseLineHeight / 2) 0;
}

ul.browse ul {
  margin: 0;
}

.clearBoth {
  clear: both;
}
