[% title = entity.portal.title(lang) %]

<h2>[% entity.portal.title(lang) %]</h2>

<div class="row">
    <div class="span8">
    	[% content_free = "${entity.portal.id}_free"; content_blocks.$content_free %]
    </div>
    <div class="span4">
    	[% content_side = "${entity.portal.id}_side"; content_blocks.$content_side %]
    </div>
</div>

[% IF c.user_exists %]
    <hr />
    <p><a class="btn" href="[% c.uri_for_action("/user/profile") %]">[% c.loc("Your Profile") %]</a></p>
[% END %]
