<p>
    [% IF lang == "fr" %]
        <a href="http://fr.numeris.ca" target="_blank">Numeris</a><br />
        <a href="http://www.canadiana.org/fr/accueil" target="_blank">Réalisé par Canadiana.org</a>
    [% ELSE %]
        <a href="http://en.numeris.ca" target="_blank">Numeris</a><br />
        <a href="http://www.canadiana.org/en/home" target="_blank">Produced by Canadiana.org</a>
    [% END %]
</p>
