<div class="span3">
    <label for="seriesSelect">[% c.loc("Contributor") %]</label>
    <select id="seriesSelect" name="pkey" class="span3">
        <option value="">[% c.loc("All Contributors") %]</option>
        <option value="carl.AEUseries">The Gateway (University of Alberta)</option>
        <option value="carl.NBFUseries">The Brunswickan (University of New Brunswick)</option>
        <option value="carl.OTYseries">Excalibur (York University)</option>
        <option value="carl.NSHDseries">Dalhousie Gazette (Dalhousie University)</option>
    </select>
</div>