[%-
  USE JSON.Escape( pretty => 1 );

  result = [];

  FOREACH term IN browse;
    result.push({
      id => term.id,
      sort => term.sortkey,
      parent => term.parent,
      "term" => term.term,
      count => term.get_column('count'),
      url => title_urls.defined(term.id) ? title_urls.${term.id} : ''
    });
  END;

  result.json
-%]