<h2>Digital Collection Celebrating 100 years</h2>
<p>The Canadian Agriculture Library, home to one of the most comprehensive collections on agriculture and agri-food in Canada, turned 100 years old in 2010.</p>
<p>This digitization project was created in celebration of the Canadian Agriculture Library’s special collection. The digital collection consists of departmental publications that showcase the Canadian Department of Agriculture’s history, organization and work.</p>
