<h2>Collection numérique de l’agriculture fête ses 100 ans</h2>
<p>La Bibliothèque canadienne de l’agriculture qui abrite l’une des collections les plus complètes sur l’agriculture et l’agroalimentaire au Canada fête ses 100 ans en 2010.</p>
<p>Le projet de numérisation a été créé pour célébrer la collection spéciale de la bibliothèque canadienne d’agriculture. La collection numérique se compose des publications départementales qui représentent du l’historie, l’organisation et le travail du ministère de l’agriculture du Canada.</p>
