<h2>La collection de l'Histoire des femmes</h2>
<p>La collection de l'Histoire des femmes met en vedette les vies, les opinions et les exploits des femmes qui ont marqué l'histoire du Canada en tant que pionnières, éducatrices, auteures, travailleuses et plusieurs autres rôles sociaux.  La collection est composée des écrits publiés par des auteurs femmes Canadiennes, ainsi que des publications canadiennes concernant les femmes ou d'autres sujets qu'aurait considérés « féminin » la société de l'époque. La collection couvre plusieurs genres tels que des mémoires, des journaux intimes et des recueils de correspondance, des pièces de théâtre, des poèmes et de la fiction, des récits d’exploration et de voyage, des imprimés éphémères, et des brochures politiques entre autres. Les livres et les magazines dans cette collection ont étés publiés au Canada et dans divers pays entre le XIXe et le début du XXe siècle.</p>
