<h2>Women's History Collection</h2>
<p>The Women's History collection explores the lives, thoughts and accomplishments of women who marked Canadian history as pioneers, educators, authors, workers and many other social roles. The collection consists of published writings from Canadian women authors, as well as documents about women or what contemporary audiences would have considered "women's issues." The collection covers many genres, including memoirs, diaries and collected letters, drama, verse and fiction, printed ephemera, political pamphlets, and much more. The books and magazines in this collection were published in 19th and early 20th century in Canada and a variety of countries.</p>
