[%
  # view.tt - view content/metadata - DFAIT portal version

  USE XML.Escape;

  INCLUDE component/header.tt;
%]
  
<div id="content">

  <h1>[% c.loc("[_1] - [_2] pages", doc.label sibling_count) | xml_escape %]</h1>

[% 
  # Page navigation
  INCLUDE component/navigation.tt;

  # Display the page image
  INCLUDE component/page.tt;

%]

</div>

[% INCLUDE component/footer.tt; %]
