[% USE XML.Escape %]
<ok>0</ok>
<status>403</status>
[% IF error == 'NOACCESS' %]
<error>[% c.loc("Access denied") %]</error>
[% ELSE %]
<error>[% error | xml_escape %]</error>
[% END %]
[% IF log %]
<log>
  [% FOR event IN log %]
  <log>[% event | xml_escape %]</log>
  [% END %]
</log>
[% END %]
