<h1>[% c.loc("Canadiana Access Portal") %]</h1>

<p>Prototype rev. 0.20091118</p>

<h2> Avaiable Portals:</h2>

<ul>
  <li><a href="[% c.uri_for(root, 'admin') %]">Administrative Interface</a></li>
  <li><a href="[% c.uri_for(root, 'dfait') %]">DFAIT Statements, Speeches and Press Releases</a></li>
</ul>
